.chat-container {
    display: flex;
    min-width: 1065px;
    /* background-color: #F6F6FF; */
    height: 100vh;
    border-radius: 20px;
    /* margin-right: 1%; */
}

.chat-container2 {
    width: 274px;
    /* margin: 24px 12px 24px 24px; */
    background-color: #f6f6ff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    overflow: hidden;
    padding: 1%;
}
.chat-container3 {
    width: 82%;
    padding: 1% 0.5% 0 0.5%;
}
.excelCon {
    border: 1px dashed #0174FF;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
}

.wordCon {
    border: 1px dashed #0174FF;
    width: 100%;
}

.titCon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    height: 88px;
}

.excelTit {
    font-family: Source Han Sans;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;
    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #3D3D3D;
}

.btnTit {
    height: 86px;
    border-radius: 10px;
    opacity: 1;
    background: #f6f6ff;
}

/* 设置a标签的基本样式 */
.file-preview {
      color: #1E9FFF; /* 设置链接颜色 */
      text-decoration: none; /* 移除下划线 */
}

/* 设置a标签在hover时的样式 */
.file-preview:hover {
     color: #FF5722; /* 悬停时改变颜色 */
     text-decoration: underline; /* 悬停时添加下划线 */
 }

.btntype2  {
    height:44px;
    font-size:16px;
    border-radius: 7px;
    margin:24px;
}
.excelMore {
    font-family: Source Han Sans;
    font-size: 14px;
    font-weight: 350;
    line-height: normal;
    letter-spacing: 0em;
    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #3D3D3D;
    margin-top:10px;
}

.excelTxt{
    margin-left: 10px;
}

.fileCon{
    margin: 30px 0 0 0;
    padding: 10px;
    background-color: #E7E6F0;
}

.exampleDown{
    margin-left: auto;
    color: #ffffff;
    background-color: #0174FF;
    padding: 5px 10px;
    border-radius: 8px;
    width: 28%;
    cursor: pointer;
    margin-top:18px;
    font-size: 13px;
    text-align: center;
}